In [201]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [202]:
df = pd.read_csv('modified2_table.csv')

In [203]:
df

,school,sex,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,...,health,absences,G1,G2,G3,non_study_time,grade,GPA,Alcohol_Consumption,Parental_Education
0,GP,F,18,U,GT3,A,at_home,teacher,course,mother,...,3,6,5,6,6,4,E,4,1,4
1,GP,F,17,U,GT3,T,at_home,other,course,father,...,3,4,5,5,6,3,E,4,1,1
2,GP,F,15,U,LE3,T,at_home,other,other,mother,...,3,10,7,8,10,2,D,5,2,1
3,GP,F,15,U,GT3,T,health,services,home,mother,...,5,2,15,14,15,2,B,7,1,3
4,GP,F,16,U,GT3,T,other,other,home,father,...,5,4,6,10,10,2,D,5,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,services,services,course,other,...,4,11,9,9,9,4,D,5,4,2
391,MS,M,17,U,LE3,T,services,services,course,mother,...,2,3,14,16,16,4,B,7,4,2
392,MS,M,21,R,GT3,T,other,other,course,other,...,3,3,10,8,7,4,D,5,3,1
393,MS,M,18,R,LE3,T,services,other,course,mother,...,5,0,11,12,10,2,C,6,4,2
394,MS,M,19,U,LE3,T,other,at_home,course,father,...,5,5,8,9,9,2,D,5,3,1

In [204]:
df['age_standardized'] = (df['age'] - df['age'].mean()) / df['age'].std()

In [205]:
df['studytime_standardized'] = (df['studytime'] - df['studytime'].mean()) / df['studytime'].std()

In [206]:
np.std(df['studytime_standardized'])

np.float64(0.9987333750458026)

In [207]:
 df['GPA_standardized'] = (df['GPA'] - df['GPA'].mean()) / df['GPA'].std()

In [208]:
df['absences_standardized'] = (df['absences'] - df['absences'].mean()) / df['absences'].std()

In [209]:
 df['GPA_standardized'].describe()

count    3.950000e+02
mean    -4.047395e-17
std      1.000000e+00
min     -2.849533e+00
25%     -6.265596e-01
50%      1.144315e-01
75%      8.554227e-01
max      3.078396e+00
Name: GPA_standardized, dtype: float64

In [210]:
df['absences_standardized'].describe()

count    3.950000e+02
mean    -4.497106e-17
std      1.000000e+00
min     -7.133316e-01
25%     -7.133316e-01
50%     -2.135250e-01
75%      2.862816e-01
max      8.658042e+00
Name: absences_standardized, dtype: float64

In [212]:
df = pd.get_dummies(df, columns=['sex'], drop_first=True)

In [213]:
df

,school,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,...,non_study_time,grade,GPA,Alcohol_Consumption,Parental_Education,age_standardized,studytime_standardized,GPA_standardized,absences_standardized,sex_M
0,GP,18,U,GT3,A,at_home,teacher,course,mother,2,...,4,E,4,1,4,1.021751,-0.042232,-1.367551,0.036378,False
1,GP,17,U,GT3,T,at_home,other,course,father,1,...,3,E,4,1,1,0.238078,-0.042232,-1.367551,-0.213525,False
2,GP,15,U,LE3,T,at_home,other,other,mother,1,...,2,D,5,2,1,-1.329268,-0.042232,-0.626560,0.536185,False
3,GP,15,U,GT3,T,health,services,home,mother,1,...,2,B,7,1,3,-1.329268,1.149321,0.855423,-0.463428,False
4,GP,16,U,GT3,T,other,other,home,father,1,...,2,D,5,2,3,-0.545595,-0.042232,-0.626560,-0.213525,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,20,U,LE3,A,services,services,course,other,1,...,4,D,5,4,2,2.589096,-0.042232,-0.626560,0.661137,True
391,MS,17,U,LE3,T,services,services,course,mother,2,...,4,B,7,4,2,0.238078,-1.233786,0.855423,-0.338477,True
392,MS,21,R,GT3,T,other,other,course,other,1,...,4,D,5,3,1,3.372769,-1.233786,-0.626560,-0.338477,True
393,MS,18,R,LE3,T,services,other,course,mother,3,...,2,C,6,4,2,1.021751,-1.233786,0.114432,-0.713332,True
394,MS,19,U,LE3,T,other,at_home,course,father,1,...,2,D,5,3,1,1.805423,-1.233786,-0.626560,-0.088573,True

In [214]:
df['sex_M'] = df['sex_M'].replace({True: 1, False: 0})

C:\Users\dell\AppData\Local\Temp\ipykernel_31172\415894869.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['sex_M'] = df['sex_M'].replace({True: 1, False: 0})

In [215]:
df

,school,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,...,non_study_time,grade,GPA,Alcohol_Consumption,Parental_Education,age_standardized,studytime_standardized,GPA_standardized,absences_standardized,sex_M
0,GP,18,U,GT3,A,at_home,teacher,course,mother,2,...,4,E,4,1,4,1.021751,-0.042232,-1.367551,0.036378,0
1,GP,17,U,GT3,T,at_home,other,course,father,1,...,3,E,4,1,1,0.238078,-0.042232,-1.367551,-0.213525,0
2,GP,15,U,LE3,T,at_home,other,other,mother,1,...,2,D,5,2,1,-1.329268,-0.042232,-0.626560,0.536185,0
3,GP,15,U,GT3,T,health,services,home,mother,1,...,2,B,7,1,3,-1.329268,1.149321,0.855423,-0.463428,0
4,GP,16,U,GT3,T,other,other,home,father,1,...,2,D,5,2,3,-0.545595,-0.042232,-0.626560,-0.213525,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,20,U,LE3,A,services,services,course,other,1,...,4,D,5,4,2,2.589096,-0.042232,-0.626560,0.661137,1
391,MS,17,U,LE3,T,services,services,course,mother,2,...,4,B,7,4,2,0.238078,-1.233786,0.855423,-0.338477,1
392,MS,21,R,GT3,T,other,other,course,other,1,...,4,D,5,3,1,3.372769,-1.233786,-0.626560,-0.338477,1
393,MS,18,R,LE3,T,services,other,course,mother,3,...,2,C,6,4,2,1.021751,-1.233786,0.114432,-0.713332,1
394,MS,19,U,LE3,T,other,at_home,course,father,1,...,2,D,5,3,1,1.805423,-1.233786,-0.626560,-0.088573,1

In [ ]:
df['Parental_Education'].value_counts() # already encoded

Parental_Education
2    162
4    128
3     64
1     39
0      2
Name: count, dtype: int64

In [218]:
# List of columns to convert
yes_no_cols = ['schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']

# Map 'yes' â†’ 1, 'no' â†’ 0
df[yes_no_cols] = df[yes_no_cols].replace({'yes': 1, 'no': 0})

# Verify
print(df.head())

  school  age address famsize Pstatus     Mjob      Fjob  reason guardian  \
0     GP   18       U     GT3       A  at_home   teacher  course   mother
1     GP   17       U     GT3       T  at_home     other  course   father
2     GP   15       U     LE3       T  at_home     other   other   mother
3     GP   15       U     GT3       T   health  services    home   mother
4     GP   16       U     GT3       T    other     other    home   father

   traveltime  ...  non_study_time  grade  GPA  Alcohol_Consumption  \
0           2  ...               4      E    4                    1
1           1  ...               3      E    4                    1
2           1  ...               2      D    5                    2
3           1  ...               2      B    7                    1
4           1  ...               2      D    5                    2

   Parental_Education  age_standardized  studytime_standardized  \
0                   4          1.021751               -0.042232
1                   1          0.238078               -0.042232
2                   1         -1.329268               -0.042232
3                   3         -1.329268                1.149321
4                   3         -0.545595               -0.042232

   GPA_standardized  absences_standardized  sex_M
0         -1.367551               0.036378      0
1         -1.367551              -0.213525      0
2         -0.626560               0.536185      0
3          0.855423              -0.463428      0
4         -0.626560              -0.213525      0

[5 rows x 36 columns]

C:\Users\dell\AppData\Local\Temp\ipykernel_31172\1363308515.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[yes_no_cols] = df[yes_no_cols].replace({'yes': 1, 'no': 0})

In [219]:
df

,school,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,...,non_study_time,grade,GPA,Alcohol_Consumption,Parental_Education,age_standardized,studytime_standardized,GPA_standardized,absences_standardized,sex_M
0,GP,18,U,GT3,A,at_home,teacher,course,mother,2,...,4,E,4,1,4,1.021751,-0.042232,-1.367551,0.036378,0
1,GP,17,U,GT3,T,at_home,other,course,father,1,...,3,E,4,1,1,0.238078,-0.042232,-1.367551,-0.213525,0
2,GP,15,U,LE3,T,at_home,other,other,mother,1,...,2,D,5,2,1,-1.329268,-0.042232,-0.626560,0.536185,0
3,GP,15,U,GT3,T,health,services,home,mother,1,...,2,B,7,1,3,-1.329268,1.149321,0.855423,-0.463428,0
4,GP,16,U,GT3,T,other,other,home,father,1,...,2,D,5,2,3,-0.545595,-0.042232,-0.626560,-0.213525,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,20,U,LE3,A,services,services,course,other,1,...,4,D,5,4,2,2.589096,-0.042232,-0.626560,0.661137,1
391,MS,17,U,LE3,T,services,services,course,mother,2,...,4,B,7,4,2,0.238078,-1.233786,0.855423,-0.338477,1
392,MS,21,R,GT3,T,other,other,course,other,1,...,4,D,5,3,1,3.372769,-1.233786,-0.626560,-0.338477,1
393,MS,18,R,LE3,T,services,other,course,mother,3,...,2,C,6,4,2,1.021751,-1.233786,0.114432,-0.713332,1
394,MS,19,U,LE3,T,other,at_home,course,father,1,...,2,D,5,3,1,1.805423,-1.233786,-0.626560,-0.088573,1

In [223]:
df

,school,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,...,non_study_time,grade,GPA,Alcohol_Consumption,Parental_Education,age_standardized,studytime_standardized,GPA_standardized,absences_standardized,sex_M
0,GP,18,U,GT3,A,at_home,teacher,course,mother,2,...,4,E,4,1,4,1.021751,-0.042232,-1.367551,0.036378,0
1,GP,17,U,GT3,T,at_home,other,course,father,1,...,3,E,4,1,1,0.238078,-0.042232,-1.367551,-0.213525,0
2,GP,15,U,LE3,T,at_home,other,other,mother,1,...,2,D,5,2,1,-1.329268,-0.042232,-0.626560,0.536185,0
3,GP,15,U,GT3,T,health,services,home,mother,1,...,2,B,7,1,3,-1.329268,1.149321,0.855423,-0.463428,0
4,GP,16,U,GT3,T,other,other,home,father,1,...,2,D,5,2,3,-0.545595,-0.042232,-0.626560,-0.213525,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,20,U,LE3,A,services,services,course,other,1,...,4,D,5,4,2,2.589096,-0.042232,-0.626560,0.661137,1
391,MS,17,U,LE3,T,services,services,course,mother,2,...,4,B,7,4,2,0.238078,-1.233786,0.855423,-0.338477,1
392,MS,21,R,GT3,T,other,other,course,other,1,...,4,D,5,3,1,3.372769,-1.233786,-0.626560,-0.338477,1
393,MS,18,R,LE3,T,services,other,course,mother,3,...,2,C,6,4,2,1.021751,-1.233786,0.114432,-0.713332,1
394,MS,19,U,LE3,T,other,at_home,course,father,1,...,2,D,5,3,1,1.805423,-1.233786,-0.626560,-0.088573,1

In [224]:
df.to_csv('final.csv')